h1 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 100px;
}

body {
  background-color: aliceblue;
}

p {
  font-size: 35px;
  font-family: 'Bona Nova',serif;
}

.mid {
  position: relative;
  left: 280px;
  display: inline-block;
  text-align: center;
  padding: 0 50px 0;
}
